:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: left;
}

#movies-section {
  display: flex;
}

#movie-form-div {
  padding: 2rem;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #2e2d2d;
  transition: 0.3s;
  border-radius: 5px;
  text-align: left;
  margin-right: 2rem;
  height: 14rem;
}

.input {
  display: block;
  white-space: nowrap;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#movies-list-div {
  padding: 2rem;
  background-color: #2e2d2d;
  flex-wrap: wrap;
  max-width: 80rem;
}

#movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: scroll;
  max-height: 50vh;
  min-width: 300px;
}

li {
  display: block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #2e2d2d;
  transition: 0.3s;
  width: 15rem;
  text-align: left;
  padding: 1rem;
  line-height: 5px;
} 

li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#bar-chart {
  margin-top: 5rem;
  color: rgba(255, 255, 255, 0.87);;
}

#doughnut-chart {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media (max-width: 480px) {

  #movies-section {
    display: flex;
    flex-direction: column;
  }
}